# Telegram Bot Framework
pyrogram==2.0.106
tgcrypto==1.2.5

# Environment and Configuration
python-dotenv==1.0.1

# Database
pymongo[srv]==4.6.1

# HTTP Requests
requests==2.31.0
aiohttp==3.9.3

# IMDb API handling
IMDbPY==2023.5.1

# AI Spell Correction
google-api-python-client==2.116.0
beautifulsoup4==4.12.3

# Other Utilities
async-timeout==4.0.3
motor==3.4.0  # async MongoDB
